@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.anki-plugin {
  font-family: 'Inconsolata', monospace;
}

.anki-settings-table td, .anki-settings-table th {
  border: 1px solid var(--background-modifier-border);
  padding: 4px 10px;
  font-family: 'Inconsolata', monospace;
}

.anki-settings-table {
  border-collapse: collapse;
  display: none;
}

.anki-center {
  margin: auto;
  padding: 5px;
  padding-top: 30px;
}

.anki-rotated {
    transform: rotate(-90deg);
}
